<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/08072023/mavenProjectTest/src/test/java/POJOLearnings/testReqResListUsersExample.java">
        <classes>
            <class name="apiLearnings.POJOLearnings.testReqResListUsersExample">
                <methods>
                    <include name="getTestListOfUsers"/>
                </methods>
            </class>
            <class name="WebAutomationTestCases.DemoAutomation">
                <methods>
                    <include name="testUrlNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>